
/* common sherd style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Header part  */
.header-img{
    background:url('resources/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 550px;
    margin: 50px 90px;   
}
/* Header text */
.header-text{
    text-align: center;
    padding: 150px;
}
.header-text1{
    color: white;
}
.header-text2{
    color: white;
   font-size: 40px;   
}
/* header-text-part2 */
.header-text-part2{
    text-align: center;
}
.text-1{
    color: red;
    font-size: 50px;
}
.text-2{
    color: red;
}
.header-img-2 img{
    height: 300px;
    width: 400px;
}
/* main image part below */
.main-back-img{
    background: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 550px;
    margin: 50px 90px; 
}
.main-text{
    width: 50%;
    padding: 80px 80px;

}
#join-text{
    font-size:2;
}

/* main-text-part */
.main-text-part{
    padding-top: 50px;
    background-color: bisque;
    margin: 50px 90px;
    text-align: center;
}
.join-btn{
    background-color: red;
    margin-bottom: 40px;
    border: none;
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 5px; 
}

/* NEW BEST OFFER part */
.main-best-offer{
    display: flex;
    align-items: center;
}
.offer-text-1{
    margin: 50px 90px;
    width: 25%;
}

/* New offer image part */
.offer-img{
    height: 300px;
    width: 300px;
    border: 10px solid red;
    border-radius: 5000px;
   
}
.offer-img img{
    height: 250px;
    padding: 20px;
}
/* Offer right side image */
.offer-text-right img{
    height: 100px;
    width: 100px;
}
.offer-text-right{
   padding: 90px;
}

/* main photos added part */
.main-photo-part{
    margin: 50px 90px;

}
.img-align{
    height: 300px;
    width: 350px;
    padding: 10px;
    border-radius: 5px;  
}
/* Subscriptions part added */
.subscriptions-part{
    margin: 50px 90px;
    background-color: bisque;

}
.subsripe-img{
    padding-left: 500px;
}
.subscroptions-text{
    text-align: center;
}
/* footer */
.footer-bg{
    background-color: black;
    margin: 0px;
}
.footer-text{
    color: white;
}
.footer-align{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px;
}
hr{
    background-color: white;
}


